@import url(https://fonts.googleapis.com/css?family=Life+Savers);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
$life-saver:'Life Savers', cursive;
$josefin:"Josefin Sans", sans-serif;
$quicksand:"Quicksand", sans-serif;

//colors
$green:#84AFA9;
$green-light:#F2F9F6;
$white:#fff;
$pink:#D67F91;